In [31]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

feacher = ['Mathe1', 'Mathe2', 'Info1', 'Info2']
noten = [100, 77, 100, 100]

noten_list = list(zip(feacher, noten))
labels = ["Fach", "Note"]

noten_df = pd.DataFrame(noten_list, columns=labels)

noten_df.at[2, "Note"] = 100
noten_df

     Fach  Note
0  Mathe1   100
1  Mathe2    77
2   Info1   100
3   Info2   100